[Unit]
Description=QABridge user service
After=lipstick.service
Requires=lipstick.service

[Service]
ExecStart=/usr/bin/qabridge-user
Type=dbus
BusName=ru.omprussia.qaservice

[Install]
WantedBy=user-session.target
