[Unit]
Description=QABridge user service
After=dbus.socket pre-user-session.target lipstick.service
Requires=dbus.socket pre-user-session.target lipstick.service

[Service]
ExecStart=/usr/bin/qabridge-user
Type=dbus
BusName=ru.omprussia.qaservice

[Install]
WantedBy=user-session.target
